secret = "bot.pem"

[database]
url = "postgres://postgres:postgres@localhost:5432/fleets"
admin_url = "postgres://postgres:postgres@localhost:5432/fleets"

[queue]
url = "amqp://guest:guest@localhost:5672"

[bot]
token = ""
guild = ""

[discord]
client_id = ""
client_secret = ""
